{% extends "global/Page.html" %}
{% load otree static %}


{% block content %}
<p class="title">练习阶段</p>
<p>现在是练习阶段，目的是请您熟悉实验的大致内容与要求。</p>
<ol>
    <li>该阶段将请您<strong>回忆过去</strong>的事件，并回答相关问题。</li>
    <li>请您注意练习阶段问题的要求，并尽可能在正式实验中按照相同的要求回答问题。</li>
    <li>如有任何疑问，可随时询问实验员。</li>
    <li>您依然有权退出本实验。若实验内容令您感到不适，或其他任何原因使您决定退出，可随时联系我们的实验员。</li>
</ol>
<p>若您准备好了，请点击下方按钮开始练习。</p>


<div class="next_button_after">{% next_button %}</div>
<audio
        src="{% static 'sound/prac_instruction.m4a' %}"
        autoplay
        class="before_button">
</audio>

{% block practice_script %}
<script>
    let audio = document.querySelector('.before_button');
    audio.addEventListener('ended', show_button);

    function show_button() {
        let next_button = document.querySelector('.next_button_after');
        next_button.style.display = 'block';
    }
</script>

{% endblock %}

{% endblock %}